html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

a, a:visited {
	text-decoration: none;
	color: white;
	outline: none;
}

li {
	list-style: none;
}

input, textarea {
	border: none;
	background: transparent;
	outline: 0;
	text-indent: 1rem;
}

.first-screen {
	background: url(../images/header_bg.png) no-repeat center;
	-webkit-background-size: cover;
	        background-size: cover;
}

/*********header*********/
.header__wrapper {
	width: 100vw;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: fixed;
	z-index: 999;
	height: 10rem;
}

.logo {
	margin-right: 52.5rem;
}

.menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: 2.3rem;
}

.menu-item {
	margin-left: 2.3rem;
	font-size: 1.6rem;
	font-weight: 600;
	position: relative;
}

.menu__pointer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.menu__pointer::before {
	content: '';
	width: 0;
	height: 2px;
	margin-right: 1px;
	background-color: #008ed6;
	display: block;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.menu__pointer::after {
	content: '';
	width: 0;
	height: 2px;
	margin-left: 1px;
	background-color: #008ed6;
	display: block;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.menu-item__link:hover .menu__pointer::before, .menu-item__link:hover .menu__pointer::after {
	width: 50%;
}

.menu-item__link:focus .menu__pointer::before, .menu-item__link:focus .menu__pointer::after {
	width: 50%;
}

.menu__line {
	display: none;
}

/*********header main*********/
.header-main {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 10rem;
}

.header-main-information {
	margin-right: 28rem;
}

.subtitle {
	text-transform: uppercase;
	font-weight: 700;
	color: #008ed6;
	font-size: 1.4rem;
	letter-spacing: 0.1em;
}

.header-main-information__subtitle {
	margin-top: 5.8rem;
}

.header-main-information__title {
	color: #fff;
	font-weight: 600;
	font-size: 4.8rem;
	width: 48rem;
	line-height: 1;
	margin-top: 2rem;
	margin-bottom: 0;
}

.text {
	color: #999;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.49;
}

.header-main-information__text {
	width: 48rem;
	margin-top: 2.5rem;
}

.btn {
	width: 16rem;
	height: 5rem;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	border: 1px solid #444348;
	text-transform: uppercase;
	color: #fff;
	background: transparent;
	font-size: 1.2rem;
	font-weight: 600;
}

.btn:hover {
	background: #008ed6;
	border: 0;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	cursor: pointer;
}

.button__download, .button__features {
	margin-right: 1.8rem;
	margin-top: 4.2rem;
}

.header-main-device__img {
	margin-top: 1.8rem;
}

/*********features*********/
.features {
	margin-bottom: 5.2rem;
}

.features__header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.features__subtitle {
	margin: 6rem auto 0;
}

.mid-title {
	font-size: 3.6rem;
	color: #1a1a1a;
	font-weight: 600;
}

.features__mid-title {
	margin: 1rem auto 0;
}

.ornament {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 3.3rem auto 7.3rem;
}

.ornament::before {
	content: '';
	width: 20px;
	height: 2px;
	background: #008ed6;
	margin-right: 1px;
}

.ornament::after {
	content: '';
	width: 20px;
	height: 2px;
	background: #008ed6;
	margin-left: 1px;
}

/*********features list*********/
.features-list {
	max-width: 64vw;
	margin: 0 auto 5.1rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.features-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 23rem;
}

.features-box__title {
	font-size: 2.4rem;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 2.7rem;
}

.features-box__text {
	text-align: center;
	margin-top: 1rem;
}

/*********about*********/
.line {
	background-color: rgb(237, 237, 237);
	height: 1px;
	width: 100%;
}

.about {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 6.5rem;
	margin-right: 10rem;
}

.about__device {
	margin-right: 7rem;
}

.about__header {
	margin-top: 3rem;
}

.about__subtitle {
	margin-top: 5rem;
	margin-bottom: 0;
}

.about__mid-title {
	margin-top: 1rem;
	margin-bottom: 0;
}

.about__ornament {
	margin-top: 2.3rem;
	margin-bottom: 0;
}

.about__text {
	max-width: 47rem;
	margin-top: 2.5rem;
}

.details-list__item {
	color: #1b1b1b;
	font-size: 1.8rem;
	font-weight: 400;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 1.3rem;
}

.details-list__item::before {
	content: '';
	display: block;
	margin-right: 1rem;
}

.details-list__item_1::before {
	background: url("../images/cup_icon.png");
	width: 16px;
	height: 16px;
	margin-right: 0.5rem;
}

.details-list__item_2::before {
	background: url("../images/mouse_icon.png");
	width: 10px;
	height: 17px;
}

.details-list__item_3::before {
	background: url("../images/energy_icon.png");
	width: 11px;
	height: 17px;
}

.details-list__item_4::before {
	background: url("../images/speedometer_icon.png");
	width: 16px;
	height: 16px;
	margin-right: 0.5rem;
}

.about__details-list {
	padding-left: 0.5rem;
}

/*********about-short*********/
.about-short {
	background: #f2f2f2;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 1.7rem;
	width: 100%;
}

.about-short__wrapper {
	margin-left: 7.2rem;
}

.about-short__text {
	margin-top: 3rem;
	margin-bottom: 7.8rem;
}

.about__device-short {
	margin-top: 3.2rem;
	margin-bottom: 1.7rem;
}

/*********testimonials*********/
.testimonials {
	background: url("../images/testimonials_bg.jpg") no-repeat center;
	-webkit-background-size: cover;
	        background-size: cover;
}

.testimonials-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 4rem;
	padding-right: 2rem;
}

.testimonials__subtitle {
	margin-bottom: 0;
}

.testimonials-header__mid-title {
	color: #fff;
	margin-top: 1rem;
}

.testimonials__ornament {
	margin-top: 0;
	margin-bottom: 0;
}

/*********carousel*********/
.testimonials__slider-boxes {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: 5rem;
	margin-top: 6.3rem;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	padding-bottom: 7.2rem;
}

.testimonials-box__text {
	color: #ffffff;
	font-style: italic;
	font-size: 2.4rem;
	width: 55rem;
	letter-spacing: 0.03rem;
	line-height: 1.35;
	font-weight: 300;
	text-shadow: 0 0 12px rgba(255, 255, 255, .5);
}

.testimonials-box_1 {
	margin-right: 4.4rem;
	padding-bottom: 5rem;
}

.testimonials-box__content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin-left: 0.1rem;
	max-width: 59px;
	height: 59px;
}

.testimonials-box-authors {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: 2.5rem;
}

.testimonials-box-authors {
	margin-top: 0.8rem;
}

.testimonials-box-authors__name, .testimonials-box-authors__position {
	color: #ffffff;
	text-shadow: 0 0 12px rgba(255, 255, 255, .5);
}

.testimonials-box-authors__name {
	font-size: 1.6rem;
	min-width: 18rem;
}

.testimonials-box-authors__position {
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 0.6rem;
}

/*********Owl Carousel plugin settings*********/
.owl-dots {
	padding-bottom: 2.8rem;
}

.owl-dot:focus {
	outline: none;
}

/*********download section*********/
.wrapper-download {
	background: #15141a;
	width: 100%;
	height: 17rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.download-header__title {
	color: #ffffff;
	font-size: 3.6rem;
	font-weight: 600;
	margin-right: 19rem;
	padding-bottom: 0.4rem;
}

.text-light {
	font-weight: 300;
}

.download__features {
	margin-right: 1.5rem;
}

/*********contacts*********/
.contacts-header__subtitle {
	margin-bottom: 0;
}

.contacts-header__mid-title {
	margin-top: 0.7rem;
	margin-bottom: 0;
}

.contacts-header__ornament {
	margin-top: 2.6rem;
	margin-bottom: 0;
}

.contact-elements {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 6rem;
}

.contact-elements__item {
	margin-right: 23.8rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	text-align: center;
}

.contact-elements__wrapper {
	margin-left: 23rem;
	margin-bottom: 5rem;
}

.contacts__text {
	margin: 0;
	min-width: 20rem;
}

.contact-info {
	margin: 2rem auto;
	padding: 0;
}

.address-info {
	margin: 2rem auto;
}

/*********form*********/
.form-container {
	width: 76rem;
	height: 36rem;
	background: #15141a;
	margin: 0 auto 31rem;
}

.wrapper-form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	padding: 5.1rem 0 0 3.5rem;
}

.form-elements {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.input {
	font-size: 1.4rem;
	font-weight: 700;
	border: 1px solid rgba(255, 255, 255, .2);
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	height: 4.5rem;
	width: 30rem;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .3);
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.input:focus {
	text-indent: 1rem;
	-webkit-box-shadow: 0 0 6px rgba(255, 255, 255, .2);
	        box-shadow: 0 0 6px rgba(255, 255, 255, .2);
}

.input_textarea {
	margin-right: 6rem;
	height: 19rem;
	font-size: 1.4rem;
	resize: none;
	overflow: hidden;
}

.input::-webkit-input-placeholder {
	font-size: 1.4rem;
	padding: 1rem 0;
	color: rgba(255, 255, 255, .3)
}

.input::-moz-placeholder {
	font-size: 1.4rem;
	padding: 1rem 0;
	color: rgba(255, 255, 255, .3)
}

.input:-ms-input-placeholder {
	font-size: 1.4rem;
	padding: 1rem 0;
	color: rgba(255, 255, 255, .3)
}

.input::-ms-input-placeholder {
	font-size: 1.4rem;
	padding: 1rem 0;
	color: rgba(255, 255, 255, .3)
}

.input::placeholder {
	font-size: 1.4rem;
	padding: 1rem 0;
	color: rgba(255, 255, 255, .3)
}

.btn__message {
	margin-top: 1rem;
}

/*********footer*********/
.footer {
	background: #15141a;
}

.footer__wrapper {
	padding: 5rem 1rem;
	color: #444348;
	text-align: center;
}

.social-media {
	font-size: 2rem;
}

.copyright-text {
	color: #444348;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.4rem;
	padding-top: 1rem;
}

.social-media-icon {
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.social-media-icon {
	padding-left: 2.5rem;
}

.social-media-icon:hover, .social-media-icon:focus {
	color: #008ed6;
}

.social-media-icon:before {
	font-family: 'FontAwesome';
}

.behance:before {
	content: '\f1b4';
}

.dribble:before {
	content: '\f17d';
}

.twitter:before {
	content: '\f099';
}

.facebook:before {
	content: '\f09a';
}

.linkedin:before {
	content: '\f0e1';
}

/***************************Animate.css elements duration***************************/

.fadeInLeft, .fadeInRight, .fadeInDown, .zoomIn, .slideInUp {
	-webkit-animation-duration: 2.5s !important;
	        animation-duration: 2.5s !important;
}

/***************************MEDIA QUERIES***************************/
@media (max-width: 479px) {
	.header-main {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}

	.header-main-information {
		margin-right: 1rem;
		margin-left: 3rem;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-animation-duration: 10s;
		        animation-duration: 10s;
		-webkit-animation-delay: 4s;
		        animation-delay: 4s;
		-webkit-animation-iteration-count: infinite;
		        animation-iteration-count: infinite;
	}

	.header-main-device__img {
		width: 24rem;
		margin-top: 3rem;
		margin-right: 1rem
	}

	.features__mid-title {
		text-align: center;
	}

	.about {
		margin-right: 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.about_text {
		margin: 0 auto;
	}

	.about__wrapper {
		padding: 2rem;
	}

	.about-short__wrapper {
		margin: 2rem;
	}

	.testimonials-box__text {
		width: 25rem;
	}

	.testimonials__slider-boxes {
		padding-bottom: 5rem;
		margin-top: 3rem;
	}

	.download-header__title {
		font-size: 2rem;
		margin: 0;
	}

	.input {
		width: 20rem;
	}

	.form-container {
		max-width: 30rem;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 0;
		margin: 0 auto;
	}

	.wrapper-form {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		padding: 0;
		margin: 0;
	}
}

@media (min-width: 480px) and (max-width: 719px) {
	.header-main-device__img {
		width: 24rem;
		margin-top: 13rem;
		margin-right: 1rem;
	}

	.header-main-information {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.testimonials__slider-boxes {
		padding-bottom: 8rem;
		margin-top: 5rem;
	}

	.about {
		margin-right: 0;
	}

	.about-short__wrapper {
		margin-left: 0;
	}

	.download-header__title {
		font-size: 2.4rem;
		margin: 0;
	}
}

@media (max-width: 719px) {
	.header__wrapper {
		display: block;
		position: static;
		padding-top: 3rem;
	}

	.logo {
		margin-right: 0;
		margin-left: 8rem;
	}

	.menu {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 0;
	}

	.menu-item {
		padding-top: 1rem;
	}

	.menu__line {
		display: block;
	}

	.subtitle {
		font-size: 1.1rem;
	}

	.header-main-information__subtitle {
		margin-right: 1rem;
	}

	.header-main-information__title {
		font-size: 2.5rem;
		width: 18rem;
	}

	.text {
		font-size: 1.4rem;
		width: 20rem;
	}

	.btn {
		width: 12rem;
		height: 3.5rem;
		font-size: 1.1rem;
	}

	.button__download, .button__features {
		margin-right: 1.5rem;
		margin-top: 1rem;
	}

	.about {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}

	.about__device {
		margin: 0 auto;
	}

	.about__img {
		width: 28rem;
	}

	.about__wrapper {
		margin: 0 auto;
	}

	.about__header {
		margin-top: 0;
	}

	.about__subtitle {
		margin-top: 0;
	}

	.about__mid-title {
		font-size: 2.4rem;
	}

	.about__ornament {
		margin-top: 1rem;
		margin-bottom: 0;
	}

	.about__text {
		margin-top: 2rem;
	}

	.details-list__item {
		padding-top: 0.8rem;
		font-size: 1.5rem;
	}

	.about-short {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}

	.about-short__img {
		width: 35rem;
	}

	.testimonials-box__text {
		font-size: 1.8rem;
		max-width: 40rem;
		letter-spacing: 0;
		line-height: 1;
	}

	.testimonials-box {
		margin: 0;
	}

	.testimonials-box-authors__name {
		font-size: 1.4rem;
	}

	.testimonials-box-authors__position {
		font-size: 1.2rem;
		padding-top: 0;
	}

	.contact-elements, .wrapper-form {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.input {
		min-width: 20rem;
	}

	.form-container {
		width: 45rem;
		height: 45rem;
	}

	.input_message {
		height: 10rem;
		margin: 0 auto;
	}

	.wrapper-form {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;

	}
}

@media (min-width: 720px) and (max-width: 919px) {
	.logo {
		margin-right: 3rem;
	}

	.header-main-information {
		margin-right: 7rem;
	}

	.subtitle {
		font-size: 1.3rem;
	}

	.header-main-information__subtitle {
		margin-right: 0;
	}

	.header-main-information__title {
		font-size: 3rem;
		margin-right: 0;
		width: 30rem;
	}

	.header-main-information__text {
		width: 50vw;
		max-width: 30rem;
		margin-right: 0;
	}

	.text {
		font-size: 1.5rem;
	}

	.header-main-device__img {
		width: 30rem;
		margin-top: 4rem;
	}

	.btn {
		font-size: 1.2rem;
		width: 13rem;
		height: 4rem;
	}

	.button__download, .button__features {
		margin-right: 1.5rem;
		margin-top: 2.2rem;
	}

	.about__device {
		margin-right: 2rem;
	}

	.about__img {
		width: 35rem;
	}

	.about__header {
		margin-top: 0;
	}

	.about__subtitle {
		margin-top: 0;
	}

	.about__ornament {
		margin-top: 1rem;
		margin-bottom: 0;
	}

	.about__text {
		margin-top: 2rem;
	}

	.details-list__item {
		padding-top: 0.8rem;
		font-size: 1.5rem;
	}

	.about-short__img {
		width: 40rem;
	}

	.testimonials-box {
		margin: 0;
	}

	.testimonials__slider-boxes {
		margin-right: 0;
		margin-top: 4rem;
		padding-bottom: 10rem;
	}

	.testimonials-box__text {
		font-size: 1.8rem;
		max-width: 40rem;
		letter-spacing: 0;
		line-height: 1;
	}

	.testimonials-box-authors__name {
		font-size: 1.5rem;
	}

	.testimonials-box-authors__position {
		font-size: 1.3rem;
		padding-top: 0;
	}

	.download-header__title {
		font-size: 3rem;
		margin-right: 2rem;
	}

	.contact-elements__item {
		margin-right: 10rem;
	}

	.contact-elements__wrapper {
		margin-left: 10rem;
	}

	.contacts__text {
		min-width: 10rem;
	}

	.form-container {
		width: 70rem;
		height: 55rem;
	}

	.wrapper-form {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

@media (min-width: 920px) and (max-width: 1279px) {
	.header__wrapper {
		padding-bottom: 0;
	}

	.logo {
		margin-right: 17rem;
	}

	.header-main-information {
		margin-right: 8rem;
	}

	.header-main-information__title {
		width: 36rem;
		font-size: 4.2rem;
	}

	.header-main-information__text {
		width: 50vw;
		max-width: 36rem;
	}

	.button__download, .button__features {
		margin-top: 1rem;
	}

	.header-main-device__img {
		width: 38rem;
		margin-top: 4rem;
	}

	.about__img {
		width: 42rem;
	}

	.about__header {
		margin-top: 1rem;
	}

	.about__subtitle {
		margin-top: 0;
	}

	.details-list__item {
		padding-top: 1rem;
	}

	.about-short__img {
		width: 50rem;
	}

	.testimonials__slider-boxes {
		margin-right: 0;
		margin-top: 4rem;
		-webkit-flex-wrap: nowrap;
		    -ms-flex-wrap: nowrap;
		        flex-wrap: nowrap;
		padding-bottom: 10rem;
	}

	.testimonials-box__text {
		color: #ffffff;
		font-style: italic;
		font-size: 2rem;
		max-width: 40rem;
		letter-spacing: 0.0rem;
		line-height: 1;
	}

	.download-header__title {
		margin-right: 3rem;
		font-size: 3.2rem;
	}

	.download__features, .download__download {
		font-size: 1.2rem;
		width: 13rem;
		height: 4rem;
	}

	.contact-elements__item {
		margin-right: 13.8rem;
	}

	.contact-elements__wrapper {
		margin-left: 13rem;
	}
}

@media (min-width: 1280px) {

	.header-main {
		margin-right: 5.1rem;
	}

	.header-main-information {
		margin-right: 23.1rem;
	}

	.features__subtitle {
		padding-right: 1.8rem;
	}

	.features__mid-title, .features__ornament {
		padding-right: 2rem;
	}
}